# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
venv/
env/

# Docker files
*.tar
*.tar.gz
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Environment variables
.env

# Ignore all IDE-specific files
.vscode/
.idea/
*.iml
